.App {
  text-align: center;
}
.filmItem {
  display: block;
  box-sizing: border-box;
  width: 20%;
  padding: 30px;
  float: left;
  height: calc(50vh - 60px);
}
img {
  max-width: 100%;
  max-height: 380px;
}
ul {
  padding: 0;
}